@charset "utf-8";

@font-face {
    font-family: cute;
    src: url(cute_notes/Cute\ Notes.ttf);
}

body{
    margin-top: 10%;
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-premium/fronteira-matematica-em-fundo-preto-com-numeros-e-objetos-matematicos_1639-53447.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

h2{
    font-family: cute;
    color:#f0ffff;
    margin-top: 200px;
    font-size: 50px
}

input{
    padding: 7px;
}

button{
    padding: 4px;
    background-color: #024fc4;
    color: #f0f8ff;
}

footer{
    font-family: cute;
    font-size: 20px;
    color: #024fc4;
   position: absolute;
   bottom: 0%;
  
}

td{
    width: 20%;
}


table{
   transform: translate(490px, -20px);
}

#container{
    margin: 10px;
    margin-bottom: 30px;
}